<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroServlet</servlet-name>
        <servlet-class>server.CadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>server.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>server.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarServlet</servlet-name>
        <servlet-class>server.ComprarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroServlet</servlet-name>
        <url-pattern>/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarServlet</servlet-name>
        <url-pattern>/ComprarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssentoServlet</servlet-name>
        <url-pattern>/AssentoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
