#formCadastro
{
    display: flex;
    flex: 3;
    
    flex-direction: column;
}

@media screen and (min-width: 720px)
{
    .spacing
    {
        display: flex;
        flex: 1;
    }
}

#formCadastro label
{
    margin-top: 0.5rem;
    
    font-size: 10pt;
    color: #777;
}

#formCadastro input[type="submit"]
{
    float: right;
    display: inline-block;
    
    border: none;
    padding: 0.5rem 1rem;
    
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    
    cursor: pointer;
}

#formCadastro input[type="text"],
#formCadastro input[type="date"],
#formCadastro input[type="password"],
#formCadastro input[type="email"],
#formCadastro select
{
    background-color: #eaeaea;
    
    display: flex;
    flex: 1;
    
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    
    border: none;
    box-shadow: inset 0 -1rem 0.25rem -1rem #ddd;
}

#formCadastro input[type="text"]:focus,
#formCadastro input[type="date"]:focus,
#formCadastro input[type="password"]:focus,
#formCadastro select:focus
{
    outline: none;
    
    transition: ease-in-out 0.25s;
    box-shadow: inset 0 -1rem 0.125rem -1rem #0066aa;
}

#formCadastro input[type="text"]:invalid,
#formCadastro input[type="date"]:invalid,
#formCadastro input[type="password"]:invalid
{    
    transition: ease-in-out 0.25s;
    box-shadow: inset 0 -1rem 0.125rem -1rem red;
}

#formCadastro input[type="text"]:valid,
#formCadastro input[type="date"]:valid,
#formCadastro input[type="password"]:valid
{    
    transition: ease-in-out 0.25s;
    box-shadow: inset 0 -1rem 0.125rem -1rem #00aa00;
}

#formCadastro .section
{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.25rem;
    border-bottom: 0.0625rem solid #777;
}

#formCadastro .section .caption
{
    color: darkred;
    font-size: 11pt;
}

#formCadastro .section .description
{
    display: block;
    padding: 0.5rem 1rem;
    color: #aaa;
    font-size: 9pt;
}